@page "/"

<MudText Typo="Typo.h3" Align="Align.Center">ProPulse Team</MudText>
<MudCarousel Class="mud-width-full" Style="height:350px;" ShowArrows="true" AutoCycle="true" TData="object">
	<MudCarouselItem Transition="transition" Color="Color.Primary">
		<div class="d-flex" style="height:100%">
			<MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Medium"/>
		</div>
	</MudCarouselItem>
	<MudCarouselItem Transition="transition" Color="Color.Primary">
		<div class="d-flex" style="height:100%">
			<MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Medium" />
		</div>
	</MudCarouselItem>
	<MudCarouselItem Transition="transition" Color="Color.Primary">
		<div class="d-flex" style="height:100%">
			<MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Medium" />
		</div>
	</MudCarouselItem>
</MudCarousel>

@code{
	private Transition transition = Transition.Slide;
}